.defaultText {
  user-select: none;
  font-family: Courier, serif;
  text-align: center;
}

button {
  user-select: none;
  background-color: rgb(231, 231, 231);
  color: black;
  size: 70px;
  font-size: 20px;
  border-radius: 50px;
  border-color: black;
  outline: none;
}

button:hover {
  background-color: white;
}

button:active {
  background-color: white;
  box-shadow: 0 2px rgb(255, 253, 253);
  transform: translateY(4px);
}

canvas {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

canvas:hover {
  background-color: white;
}
